<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kgu.www.service.dao.KguDAO">

	<select id="testAll" resultType="testVO">
		SELECT flag, id, pw, nickname, tel
		FROM test
	</select>
	
	<insert id="bookInsertForm">
		INSERT INTO  book 
     	VALUES (#{book_picture}, #{book_name}, #{book_writer}, #{book_price},
     	#{book_info}, #{book_mokcha}, #{book_inventory})
	</insert>
</mapper>